html, body {
    --fcc-app-background: #fff;
    --fcc-app-background-highlight:rgb(244 242 247 / 65%);
    --fcc-accent:#9074fe;--fcc-accent-light:#beaeff;
    --fcc-accent-shadow:rgba(116,81,254,0.24);
    --fcc-text-primary: #000;
    --fcc-text-secondary:hsla(100,100%,0%,0.4);
    --fcc-text-darker-1:hsla(100,100%,0%,0.4);
    --fcc-text-darker-2:hsla(100,100%,0%,0.4);
    --fcc-text-darker-3:hsla(100,100%,0%,0.4);
    --fcc-text-darker-4:hsla(100,100%,0%,0.4);
    --fcc-border: #d5d5d5;
    --fcc-border-dark-1:hsla(100,100%,0%,0.4);
    --fcc-border-dark-2:hsla(100,100%,0%,0.4);
    --fcc-response-parent-name:#00afe8;
    --fcc-response-border:hsla(100,100%,0%,0.4);
    --fcc-control-background: rgb(255, 0, 0);
    --fcc-control-background-hover: #fff;
    --fcc-icon-primary:hsla(100,100%,0%,0.4);
    --fcc-icon-secondary:hsla(100,100%,0%,0.4);
    --fcc-icon-darker-1:hsla(100,100%,0%,0.4);
    --fcc-scroll-background:hsla(100,100%,0%,0.4);
    --fcc-scroll-thumb:hsla(100,100%,0%,0.4);
    --fcc-moderator-icon-color: #fff;
    --fcc-moderator-icon-background: #ffffff;
}
