/* ._1zYCcv {
  background: #ffffff;
  transition:background-color;
}
.Us8R-F {
  color:#000000;
  display:flex;
  flex-direction:column;
  width:100%;
  height:100%;
  background:#ffffff
}
 */

._3MmY-X {
  background-color:#fff;
  height:100%;
  display:flex;
  flex-direction:column
}
